In [1]:
# 1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [2]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
# 2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [5]:
# Sum of natural numbers up to num

num = int(input("Please enter the number: "))

sum = 0

for value in range(1, num + 1):
    sum = sum + value
    
print(sum)

Please enter the number:  10

55

In [6]:
# 3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [9]:
s = input("Enter String")
def reverse(s):
	str = ""
	for i in s:
		str = i + str
	return str

print("The original string is : ", end="")
print(s)

print("The reversed string(using loops) is : ", end="")
print(reverse(s))

Enter String Subhash Kumar

The original string is : Subhash Kumar
The reversed string(using loops) is : ramuK hsahbuS

In [10]:
# 4. Develop a program that finds the factorial of a given number using a `for` loop.

In [29]:
num = int(input("enter a number: "))
fac = 1
for i in range(1, num):
    fac = fac *num
    num = num-1
    print("factorial of is ", fac)

enter a number:  10

factorial of is  10
factorial of is  90
factorial of is  720
factorial of is  5040
factorial of is  30240
factorial of is  151200
factorial of is  604800
factorial of is  1814400
factorial of is  3628800

In [30]:
# 5. Create a program to print the multiplication table of a given number using a `for` loop.

In [32]:
number = int(input ("Enter the number "))      
# We are using "for loop" to iterate the multiplication 10 times       
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number  10

The Multiplication Table of:  10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [33]:
# 6.Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [34]:
# list of numbers
list1 = [10, 21, 4, 45, 66, 93, 1]
 
even_count, odd_count = 0, 0
 
# iterating each number in list
for num in list1:
 
    # checking condition
    if num % 2 == 0:
        even_count += 1
 
    else:
        odd_count += 1
 
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [35]:
# 7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [37]:
n = int(input("Enter the nth number in the series:"))

i = 1

print("The squares of the first" , n , "numbers is:")

while(i <= n):

   print(i , "*" , i , "=", (i*i))

   i += 1

Enter the nth number in the series: 5

The squares of the first 5 numbers is:
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25

In [49]:
string=input("Enter string:")
count=0
for i in string:
    print(count)
    count=count+1

Enter string: .san

0
1
2
3

In [50]:
# 9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [51]:
# Python code to get average of list
def Average(lst):
    sum_of_list = 0
    for i in range(len(lst)):
        sum_of_list += lst[i]
    average = sum_of_list/len(lst)
    return average
 
 
# Driver Code
lst = [15, 9, 55, 41, 35, 20, 62, 49]
average = Average(lst)
print("Average of the list =", round(average, 2))

Average of the list = 35.75

In [52]:
# 10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [54]:
N = int(input("Number of elements in Fibonacci Series, N, (N>=2) : "))

#initialize the list with starting elements: 0, 1
fibonacciSeries = [0,1]

if N>2:
	for i in range(2, N):
		#next elment in series = sum of its previous two numbers
		nextElement = fibonacciSeries[i-1] + fibonacciSeries[i-2]
		#append the element to the series
		fibonacciSeries.append(nextElement)

print(fibonacciSeries)

Number of elements in Fibonacci Series, N, (N>=2) :  10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [55]:
# 11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [56]:
lis = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
 
uniqueList = []
duplicateList = []
 
for i in lis:
    if i not in uniqueList:
        uniqueList.append(i)
    elif i not in duplicateList:
        duplicateList.append(i)
 
print(duplicateList)

[1, 2, 5, 9]

In [57]:
# 12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [59]:
r=int(input("Enter upper limit: "))
for a in range(2,r+1):
    k=0
    for i in range(2,a//2+1):
        if(a%i==0):
            k=k+1
    if(k<=0):
        print(a)

Enter upper limit:  20

2
3
5
7
11
13
17
19

In [60]:
# 13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [62]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string: SUBHASH KUMAR

Number of vowels are:
4

In [63]:
# 14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [64]:
def prod(lis):
    maxi = 0
     
    # traversal in the lists
    for x in lis:
       
        p = 1
         
        # traversal in list of lists
        for i in x:
            p *= i
            maxi = max(p, maxi)
    return maxi
 
 
# driver code
l = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(prod(l))

504

In [65]:
# 15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [66]:
def removing_elements(my_list, element):
   element_count = my_list.count(element)
   for i in range(element_count):
      my_list.remove(element)
   return my_list
if __name__ == "__main__":
   my_list = [1, 10, 20, 10, 21, 16, 18, 10, 22, 10, 8, 10]
   element = 10
   print("The list before performing the removal operation is: ")
   print(my_list)
   result = removing_elements(my_list, element)
   print("The list after performing the removal operation is: ")
   print(result)

The list before performing the removal operation is:
[1, 10, 20, 10, 21, 16, 18, 10, 22, 10, 8, 10]
The list after performing the removal operation is:
[1, 20, 21, 16, 18, 22, 8]

In [67]:
# 16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [68]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))      
# We are using "for loop" to iterate the multiplication 10 times       
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table:  5

The Multiplication Table of:  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [69]:
# 17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [70]:
def toFarenheit(celsius):
    return (9.0/5.0) * celsius + 32

def toCelsius(farenheit):
    return (farenheit - 32) * (5.0 / 9.0)
# I don't actually use this method, but it's still good to have
for y in range(0,200):
    x = y / 2.0
    print("Celsius: ", x, ", Farenheit: ", toFarenheit(x))

Celsius:  0.0 , Farenheit:  32.0
Celsius:  0.5 , Farenheit:  32.9
Celsius:  1.0 , Farenheit:  33.8
Celsius:  1.5 , Farenheit:  34.7
Celsius:  2.0 , Farenheit:  35.6
Celsius:  2.5 , Farenheit:  36.5
Celsius:  3.0 , Farenheit:  37.4
Celsius:  3.5 , Farenheit:  38.3
Celsius:  4.0 , Farenheit:  39.2
Celsius:  4.5 , Farenheit:  40.1
Celsius:  5.0 , Farenheit:  41.0
Celsius:  5.5 , Farenheit:  41.9
Celsius:  6.0 , Farenheit:  42.8
Celsius:  6.5 , Farenheit:  43.7
Celsius:  7.0 , Farenheit:  44.6
Celsius:  7.5 , Farenheit:  45.5
Celsius:  8.0 , Farenheit:  46.4
Celsius:  8.5 , Farenheit:  47.3
Celsius:  9.0 , Farenheit:  48.2
Celsius:  9.5 , Farenheit:  49.1
Celsius:  10.0 , Farenheit:  50.0
Celsius:  10.5 , Farenheit:  50.900000000000006
Celsius:  11.0 , Farenheit:  51.8
Celsius:  11.5 , Farenheit:  52.7
Celsius:  12.0 , Farenheit:  53.6
Celsius:  12.5 , Farenheit:  54.5
Celsius:  13.0 , Farenheit:  55.400000000000006
Celsius:  13.5 , Farenheit:  56.3
Celsius:  14.0 , Farenheit:  57.2
Celsius:  14.5 , Farenheit:  58.1
Celsius:  15.0 , Farenheit:  59.0
Celsius:  15.5 , Farenheit:  59.900000000000006
Celsius:  16.0 , Farenheit:  60.8
Celsius:  16.5 , Farenheit:  61.7
Celsius:  17.0 , Farenheit:  62.6
Celsius:  17.5 , Farenheit:  63.5
Celsius:  18.0 , Farenheit:  64.4
Celsius:  18.5 , Farenheit:  65.30000000000001
Celsius:  19.0 , Farenheit:  66.2
Celsius:  19.5 , Farenheit:  67.1
Celsius:  20.0 , Farenheit:  68.0
Celsius:  20.5 , Farenheit:  68.9
Celsius:  21.0 , Farenheit:  69.80000000000001
Celsius:  21.5 , Farenheit:  70.7
Celsius:  22.0 , Farenheit:  71.6
Celsius:  22.5 , Farenheit:  72.5
Celsius:  23.0 , Farenheit:  73.4
Celsius:  23.5 , Farenheit:  74.30000000000001
Celsius:  24.0 , Farenheit:  75.2
Celsius:  24.5 , Farenheit:  76.1
Celsius:  25.0 , Farenheit:  77.0
Celsius:  25.5 , Farenheit:  77.9
Celsius:  26.0 , Farenheit:  78.80000000000001
Celsius:  26.5 , Farenheit:  79.7
Celsius:  27.0 , Farenheit:  80.6
Celsius:  27.5 , Farenheit:  81.5
Celsius:  28.0 , Farenheit:  82.4
Celsius:  28.5 , Farenheit:  83.30000000000001
Celsius:  29.0 , Farenheit:  84.2
Celsius:  29.5 , Farenheit:  85.1
Celsius:  30.0 , Farenheit:  86.0
Celsius:  30.5 , Farenheit:  86.9
Celsius:  31.0 , Farenheit:  87.80000000000001
Celsius:  31.5 , Farenheit:  88.7
Celsius:  32.0 , Farenheit:  89.6
Celsius:  32.5 , Farenheit:  90.5
Celsius:  33.0 , Farenheit:  91.4
Celsius:  33.5 , Farenheit:  92.30000000000001
Celsius:  34.0 , Farenheit:  93.2
Celsius:  34.5 , Farenheit:  94.1
Celsius:  35.0 , Farenheit:  95.0
Celsius:  35.5 , Farenheit:  95.9
Celsius:  36.0 , Farenheit:  96.8
Celsius:  36.5 , Farenheit:  97.7
Celsius:  37.0 , Farenheit:  98.60000000000001
Celsius:  37.5 , Farenheit:  99.5
Celsius:  38.0 , Farenheit:  100.4
Celsius:  38.5 , Farenheit:  101.3
Celsius:  39.0 , Farenheit:  102.2
Celsius:  39.5 , Farenheit:  103.10000000000001
Celsius:  40.0 , Farenheit:  104.0
Celsius:  40.5 , Farenheit:  104.9
Celsius:  41.0 , Farenheit:  105.8
Celsius:  41.5 , Farenheit:  106.7
Celsius:  42.0 , Farenheit:  107.60000000000001
Celsius:  42.5 , Farenheit:  108.5
Celsius:  43.0 , Farenheit:  109.4
Celsius:  43.5 , Farenheit:  110.3
Celsius:  44.0 , Farenheit:  111.2
Celsius:  44.5 , Farenheit:  112.10000000000001
Celsius:  45.0 , Farenheit:  113.0
Celsius:  45.5 , Farenheit:  113.9
Celsius:  46.0 , Farenheit:  114.8
Celsius:  46.5 , Farenheit:  115.7
Celsius:  47.0 , Farenheit:  116.60000000000001
Celsius:  47.5 , Farenheit:  117.5
Celsius:  48.0 , Farenheit:  118.4
Celsius:  48.5 , Farenheit:  119.3
Celsius:  49.0 , Farenheit:  120.2
Celsius:  49.5 , Farenheit:  121.10000000000001
Celsius:  50.0 , Farenheit:  122.0
Celsius:  50.5 , Farenheit:  122.9
Celsius:  51.0 , Farenheit:  123.8
Celsius:  51.5 , Farenheit:  124.7
Celsius:  52.0 , Farenheit:  125.60000000000001
Celsius:  52.5 , Farenheit:  126.5
Celsius:  53.0 , Farenheit:  127.4
Celsius:  53.5 , Farenheit:  128.3
Celsius:  54.0 , Farenheit:  129.2
Celsius:  54.5 , Farenheit:  130.10000000000002
Celsius:  55.0 , Farenheit:  131.0
Celsius:  55.5 , Farenheit:  131.9
Celsius:  56.0 , Farenheit:  132.8
Celsius:  56.5 , Farenheit:  133.7
Celsius:  57.0 , Farenheit:  134.60000000000002
Celsius:  57.5 , Farenheit:  135.5
Celsius:  58.0 , Farenheit:  136.4
Celsius:  58.5 , Farenheit:  137.3
Celsius:  59.0 , Farenheit:  138.2
Celsius:  59.5 , Farenheit:  139.10000000000002
Celsius:  60.0 , Farenheit:  140.0
Celsius:  60.5 , Farenheit:  140.9
Celsius:  61.0 , Farenheit:  141.8
Celsius:  61.5 , Farenheit:  142.7
Celsius:  62.0 , Farenheit:  143.60000000000002
Celsius:  62.5 , Farenheit:  144.5
Celsius:  63.0 , Farenheit:  145.4
Celsius:  63.5 , Farenheit:  146.3
Celsius:  64.0 , Farenheit:  147.2
Celsius:  64.5 , Farenheit:  148.10000000000002
Celsius:  65.0 , Farenheit:  149.0
Celsius:  65.5 , Farenheit:  149.9
Celsius:  66.0 , Farenheit:  150.8
Celsius:  66.5 , Farenheit:  151.7
Celsius:  67.0 , Farenheit:  152.60000000000002
Celsius:  67.5 , Farenheit:  153.5
Celsius:  68.0 , Farenheit:  154.4
Celsius:  68.5 , Farenheit:  155.3
Celsius:  69.0 , Farenheit:  156.2
Celsius:  69.5 , Farenheit:  157.10000000000002
Celsius:  70.0 , Farenheit:  158.0
Celsius:  70.5 , Farenheit:  158.9
Celsius:  71.0 , Farenheit:  159.8
Celsius:  71.5 , Farenheit:  160.70000000000002
Celsius:  72.0 , Farenheit:  161.6
Celsius:  72.5 , Farenheit:  162.5
Celsius:  73.0 , Farenheit:  163.4
Celsius:  73.5 , Farenheit:  164.3
Celsius:  74.0 , Farenheit:  165.20000000000002
Celsius:  74.5 , Farenheit:  166.1
Celsius:  75.0 , Farenheit:  167.0
Celsius:  75.5 , Farenheit:  167.9
Celsius:  76.0 , Farenheit:  168.8
Celsius:  76.5 , Farenheit:  169.70000000000002
Celsius:  77.0 , Farenheit:  170.6
Celsius:  77.5 , Farenheit:  171.5
Celsius:  78.0 , Farenheit:  172.4
Celsius:  78.5 , Farenheit:  173.3
Celsius:  79.0 , Farenheit:  174.20000000000002
Celsius:  79.5 , Farenheit:  175.1
Celsius:  80.0 , Farenheit:  176.0
Celsius:  80.5 , Farenheit:  176.9
Celsius:  81.0 , Farenheit:  177.8
Celsius:  81.5 , Farenheit:  178.70000000000002
Celsius:  82.0 , Farenheit:  179.6
Celsius:  82.5 , Farenheit:  180.5
Celsius:  83.0 , Farenheit:  181.4
Celsius:  83.5 , Farenheit:  182.3
Celsius:  84.0 , Farenheit:  183.20000000000002
Celsius:  84.5 , Farenheit:  184.1
Celsius:  85.0 , Farenheit:  185.0
Celsius:  85.5 , Farenheit:  185.9
Celsius:  86.0 , Farenheit:  186.8
Celsius:  86.5 , Farenheit:  187.70000000000002
Celsius:  87.0 , Farenheit:  188.6
Celsius:  87.5 , Farenheit:  189.5
Celsius:  88.0 , Farenheit:  190.4
Celsius:  88.5 , Farenheit:  191.3
Celsius:  89.0 , Farenheit:  192.20000000000002
Celsius:  89.5 , Farenheit:  193.1
Celsius:  90.0 , Farenheit:  194.0
Celsius:  90.5 , Farenheit:  194.9
Celsius:  91.0 , Farenheit:  195.8
Celsius:  91.5 , Farenheit:  196.70000000000002
Celsius:  92.0 , Farenheit:  197.6
Celsius:  92.5 , Farenheit:  198.5
Celsius:  93.0 , Farenheit:  199.4
Celsius:  93.5 , Farenheit:  200.3
Celsius:  94.0 , Farenheit:  201.20000000000002
Celsius:  94.5 , Farenheit:  202.1
Celsius:  95.0 , Farenheit:  203.0
Celsius:  95.5 , Farenheit:  203.9
Celsius:  96.0 , Farenheit:  204.8
Celsius:  96.5 , Farenheit:  205.70000000000002
Celsius:  97.0 , Farenheit:  206.6
Celsius:  97.5 , Farenheit:  207.5
Celsius:  98.0 , Farenheit:  208.4
Celsius:  98.5 , Farenheit:  209.3
Celsius:  99.0 , Farenheit:  210.20000000000002
Celsius:  99.5 , Farenheit:  211.1

In [71]:
# 18. Create a program to print the common elements from two lists using a `for` loop.

In [75]:
import operator as op
def common_member(a, b):
    result = [i for i in a if op.countOf(b,i)>0 ]
    return result
 
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
 
print("The common elements in the two lists are: ")
print(common_member(a, b))

The common elements in the two lists are:
[5]

In [76]:
# 19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern

In [79]:
x=int(input("Enter row number=\n"))
for i in range(x):
    for j in range(i+1):
        print("#",end=' ')
    print("")

Enter row number=
 10

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # # # #
# # # # # # # # # #

In [80]:
# 20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [2]:
x = 50
y = 100
if x > y:
  x, y = y, x
for i in range(1,x+1):
  if x%i == 0 and y%i == 0:
    gcd = i

print("GCD of", x, "and", y, "is:", gcd)

GCD of 50 and 100 is: 50

In [ ]:
# 21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [9]:
# creating a list
list1 = [11, 5, 17, 18, 23]
total = 0;
for ele in range(0, len(list1)):
    total = total + list1[ele]
    print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  11
Sum of all elements in given list:  16
Sum of all elements in given list:  33
Sum of all elements in given list:  51
Sum of all elements in given list:  74

In [10]:
# 22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [14]:
# Using anonymous function
prime_factors = lambda n: [i for i in range(2, n+1) if n%i == 0 and all(i % j != 0 for j in range(2, int(i**0.5)+1))]
n = 315
factors = []
while n > 1:
    for factor in prime_factors(n):
        factors.append(factor)
        n //= factor
print(*factors)

3 5 7 3

In [15]:
# 23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
# comprehension.

In [17]:
def unique(list1):
 
    # insert the list to the set
    list_set = set(list1)
    # convert the set to the list
    unique_list = (list(list_set))
    for x in unique_list:
        print(x),
 
 
# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
 
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
40
10
20
30

the unique values from 2nd list is
1
2
3
4
5

In [18]:
# 24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
# comprehension.

In [19]:
def palindromeNumbers(list_a):
    c = 0
    for i in list_a:
        if str(i) == str(i)[::-1]:
            print(i)
            c += 1
    print("Total palindrome nos. are", c)
 
 
list_a = [10, 121, 133, 155, 141, 252]
palindromeNumbers(list_a)

121
141
252
Total palindrome nos. are 3

In [20]:
# 25. Write a program to flatten a nested list using list comprehension.

In [22]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = []
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [23]:
# 26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [24]:
NumList = []
Even_Sum = 0
Odd_Sum = 0

Number = int(input("Please enter the Total Number of List Elements: "))
for i in range(1, Number + 1):
    value = int(input("Please enter the Value of %d Element : " %i))
    NumList.append(value)

for j in range(Number):
    if(NumList[j] % 2 == 0):
        Even_Sum = Even_Sum + NumList[j]
    else:
        Odd_Sum = Odd_Sum + NumList[j]

print("\nThe Sum of Even Numbers in this List =  ", Even_Sum)
print("The Sum of Odd Numbers in this List =  ", Odd_Sum)

Please enter the Total Number of List Elements:  4
Please enter the Value of 1 Element :  12
Please enter the Value of 2 Element :  23
Please enter the Value of 3 Element :  34
Please enter the Value of 4 Element :  45

The Sum of Even Numbers in this List =   46
The Sum of Odd Numbers in this List =   68

In [25]:
# 27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [26]:
# create a list with 7 integer elements
data=[1,2,3,4,5,6,7,8,9,10]
 
# use list comprehension to get square
# of odd numbers
result = [i*i for i in data if i%2!=0]
 
# display the result
print(result)

[1, 9, 25, 49, 81]

In [27]:
# 28. Write a program that combines two lists into a dictionary using list comprehension.

In [28]:
# initializing lists
keys = ["Rash", "Kil", "Varsha"]
values = [1, 4, 5]
 
# Printing original keys-value lists
print ("Original key list is : " + str(keys))
print ("Original value list is : " + str(values))
 
# using map and dict type casting
# to convert lists to dictionary
res = dict(map(lambda i,j : (i,j) , keys,values))
 
# Printing resultant dictionary
print ("Resultant dictionary is : " + str(res))

Original key list is : ['Rash', 'Kil', 'Varsha']
Original value list is : [1, 4, 5]
Resultant dictionary is : {'Rash': 1, 'Kil': 4, 'Varsha': 5}

In [29]:
# 29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [31]:
# initializing list
test_list = ["a", "l", "a", "g", "e", "b", "g"]
 
# printing original list
print("The original list is : " + str(test_list))
 
res = []
vow = "aeiou"
for sub in test_list:
    flag = False
     
    # checking for begin char
    for ele in vow:
        if sub.startswith(ele):
            flag = True
            break
    if flag:
        res.append(sub)
 
# printing result
print("The extracted words : " + str(res))

The original list is : ['a', 'l', 'a', 'g', 'e', 'b', 'g']
The extracted words : ['a', 'a', 'e']

In [32]:
# 30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [33]:
import re

my_str = 'bo_1bby_2_ha_3_dz.com'

result = re.sub(r'[^0-9]', '', my_str)

print(result)

123

In [34]:
# 31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension.

In [37]:
def prime_eratosthenes(n):
    prime_list = []
    for i in range(2, n+1):
        if i not in prime_list:
            print (i)
            for j in range(i*i, n+1, i):
                prime_list.append(j)

print(prime_eratosthenes(100));

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
None

In [38]:
# 32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list comprehension.

In [50]:
def pythagoreanTriplets(limits) :
    c, m = 0, 2
 
    # Limiting c would limit
    # all a, b and c
    while c < limits :
         
        # Now loop on n from 1 to m-1
        for n in range(1, m) :
            a = m * m - n * n
            b = 2 * m * n
            c = m * m + n * n
 
            # if c is greater than
            # limit then break it
            if c > limits :
                break
 
            print(a, b, c)
 
        m = m + 1
 
 
# Driver Code
if __name__ == '__main__' :
     
    limit = 20
    pythagoreanTriplets(limit)

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20

In [51]:
# 33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [52]:
# import itertools package
import itertools
from itertools import permutations
 
# initialize lists
list_1 = ["a", "b", "c","d"]
list_2 = [1,4,9]
 
# create empty list to store the
# combinations
unique_combinations = []
 
# Getting all permutations of list_1
# with length of list_2
permut = itertools.permutations(list_1, len(list_2))
 
# zip() is called to pair each permutation
# and shorter list element into combination
for comb in permut:
    zipped = zip(comb, list_2)
    unique_combinations.append(list(zipped))
 
# printing unique_combination list
print(unique_combinations)

[[('a', 1), ('b', 4), ('c', 9)], [('a', 1), ('b', 4), ('d', 9)], [('a', 1), ('c', 4), ('b', 9)], [('a', 1), ('c', 4), ('d', 9)], [('a', 1), ('d', 4), ('b', 9)], [('a', 1), ('d', 4), ('c', 9)], [('b', 1), ('a', 4), ('c', 9)], [('b', 1), ('a', 4), ('d', 9)], [('b', 1), ('c', 4), ('a', 9)], [('b', 1), ('c', 4), ('d', 9)], [('b', 1), ('d', 4), ('a', 9)], [('b', 1), ('d', 4), ('c', 9)], [('c', 1), ('a', 4), ('b', 9)], [('c', 1), ('a', 4), ('d', 9)], [('c', 1), ('b', 4), ('a', 9)], [('c', 1), ('b', 4), ('d', 9)], [('c', 1), ('d', 4), ('a', 9)], [('c', 1), ('d', 4), ('b', 9)], [('d', 1), ('a', 4), ('b', 9)], [('d', 1), ('a', 4), ('c', 9)], [('d', 1), ('b', 4), ('a', 9)], [('d', 1), ('b', 4), ('c', 9)], [('d', 1), ('c', 4), ('a', 9)], [('d', 1), ('c', 4), ('b', 9)]]

In [53]:
# 34. Write a program that calculates the mean, median, and mode of a list of numbers using list comprehension.

In [54]:
>>> from collections import Counter

>>> def my_mode(sample):
...     c = Counter(sample)
...     return [k for k, v in c.items() if v == c.most_common(1)[0][1]]
...

>>> my_mode(["male", "male", "female", "male"])
['male']

>>> my_mode(["few", "few", "many", "some", "many"])
['few', 'many']

>>> my_mode([4, 1, 2, 2, 3, 5])
[2]

>>> my_mode([4, 1, 2, 2, 3, 5, 4])
[4, 2]

[4, 2]

In [55]:
# 35. Create a program that generates Pascal's triangle up to a specified number of rows using list comprehension.

In [63]:
n = 5
 
for i in range(1, n+1):
    for j in range(0, n-i+1):
        print(' ', end='')
 
    # first element is always 1
    C = 1
    for j in range(1, i+1):
 
        # first value in a line is always 1
        print(' ', C, sep='', end='')
 
        # using Binomial Coefficient
        C = C * (i - j) // j
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [64]:
# 36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension.

In [65]:
def sum_of_digits_factorial(n):
    fact = 1
    for i in range(2, n+1):
        fact *= i
    sum_of_digits = 0
    for digit in str(fact):
        sum_of_digits += int(digit)
    return sum_of_digits
 
# Example usage
print(sum_of_digits_factorial(10))
print(sum_of_digits_factorial(100))

27
648

In [ ]:
# 37. Write a program that finds the longest word in a sentence using list comprehension.

In [66]:
sentence = input("Enter sentence: ")

# Finding longest word
longest = max(sentence.split(), key=len)

# Displaying longest word
print("Longest word is: ", longest)
print("And its length is: ", len(longest))

Enter sentence:  subhash kumar yadav

Longest word is:  subhash
And its length is:  7

In [67]:
# 38. Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.

In [77]:
import re

fruits = ["mango", "kiwi", "strawberry", "guava", "pineapple", "mandarin orange"]
results = [i for i in fruits if len(re.sub(r"[^aeiouAEIOU]", "", i)) > 2]
print(results)

['guava', 'pineapple', 'mandarin orange']

In [74]:
# 39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list comprehension.

In [79]:
sum = 0 
for i in range(1,1001): 
	sum += i 
print(sum)

500500

In [80]:
# 40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [81]:
texts = ["php", "w3r", "Python", "abcd", "Java", "aaa"]
print("Orginal list of strings:")
print(texts) 
result = list(filter(lambda x: (x == "".join(reversed(x))), texts)) 
print("\nList of palindromes:")
print(result)

Orginal list of strings:
['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

List of palindromes:
['php', 'aaa']